@font-face {
  font-family: 'Glyphicons Halflings';
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot");
  src: url("../lib/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix") format('embedded-opentype'), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.woff") format('woff'), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.ttf") format('truetype'), url("../lib/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular") format('svg');
}

[ui-view].ng-enter,
[ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.96, 0.96, 0.96);
  -moz-transform: scale3d(0.96, 0.96, 0.96);
  transform: scale3d(0.96, 0.96, 0.96);
}
[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
}
[ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
[ui-view].ng-leave-active {
  opacity: 0;
}


.panel-pic {
  width: 100%;
  height: 100px;
}

.max-res {
  width: 100%;
  height: 300px;
}

.heading-pic {
  width: 100%;
  height: 300px;
}


#frame{
  margin: 0 auto;
}

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0
}

body {
  padding: 5px
}

* {
  box-sizing: border-box;
}


