
.fullPage
        .container
            .row
                .col-md-8
                    img(src="http://www.tnooz.com/wp-content/uploads/2012/10/shutterstock-maps-.jpg" height="330px" width="500px;")
                .col-md-4
                    h3 Welcome to TravelMate!

                    p.text-muted Easy way to find travel mate!
                    small All you  have to do is to sign up!
                    br
                    br
                    button.btn.btn-sm.btn-primary(ng-click="goToAds()") View ads
                    span &nbsp; &nbsp; &nbsp;
                    button.btn.btn-sm.btn-default(ng-click="goToAds()") Register
        hr


        .container
            .row
                p.text-center.text-primary Features
                .col-md-4
    .container
        .row
            br
            .col-md-5(ng-controller="GalleryCtrl")
                div
                    carousel(interval="myInterval")
                        slide(ng-repeat="slide in slides", active="slide.active")
                            img(ng-src="{{slide.image}}" style="margin:auto;width:320px;height:220px;")
                            .carousel-caption


            .col-md-7.text-center
                p.text-list
                blockquote.text-left
                    p TravelMate is online platform developed for people who want to find Travel Assistant
                    small Sign up for free!
                    a.btn-sm.btn-primary(href="#/sign-up") Sign up
        br
        hr
        br



