

<!-- Code for home page -->

.container
    .jumbotron
        .row
            .col-md-6
                img.heading-pic(src="http://i.huffpost.com/gen/1637523/thumbs/o-TRAVEL-facebook.jpg")
            .col-md-6
                h2 Welcome to TravelMate!
                button.btn.btn-lg.btn-success(ng-click="backToGallery()") Find your mate
