.container
   h2.text-center {{user.username}} 's Profile
   .row
      .col-md-6.text-center
         img(ng-hide="showByteImage()" ng-src="data:image/*;base64,{{user.image}}" id="photo-id" width="300" height="270" alt="https://www.plexusmd.com/PlexusMDAPI//Images/ProfilePicture/default_profile.jpg")
         img(ng-show="showByteImage()" src="{{image}}" width="300" height="270")
      .col-md-6
         .panel.panel-primary
            .panel-heading Email
            .panel-body {{user.email}}
         .panel.panel-primary
            .panel-heading Full Name
            .panel-body {{user.firstName}} {{user.lastName}}
         .panel.panel-primary
            .panel-heading Other information
            .panel-body Tel. phone:{{user.phone}} ; Current Place:{{user.currentPlace}} ; Registered on:{{user.registeredDate | date}}
