.container
    .jumbotron
        .row
            .col-md-6
                pre.text-center Travel From &nbsp;
                    strong {{ad.travelFrom}}
                pre.text-center Travel To &nbsp;
                    strong {{ad.travelTo}}
                pre.text-center Details:  &nbsp;
                    strong {{ad.description}}
                pre.text-center Date &nbsp;
                    strong {{ad.date | date}}
                pre.text-center Seats available &nbsp;
                    strong {{ad.seats}}
            .col-md-6
                img(ng-show="showByteImage()" ng-src="data:image/*;base64,{{user.image}}" id="photo-id" width="300" height="270" alt="https://www.plexusmd.com/PlexusMDAPI//Images/ProfilePicture/default_profile.jpg")
                img(ng-hide="showByteImage()" src="{{image}}" width="320" height="230")
                br
                br
                span
                    a.btn.btn-sm.btn-primary(ng-click="showUserImg(ad.user_id)" href="#") Show user image

    //pre {{ad}}
